---



import type { ComponentProps, HTMLAttributes } from "astro/types";

import BaseFooter from "@/components/organisms/Footer.astro";
import BaseHead from "@/components/organisms/Head.astro";
import BaseHeader from "@/components/organisms/Header.astro";
import { cn } from "@/utils";

type Props = ComponentProps<typeof BaseHead> &
  HTMLAttributes<"body"> & {
    lang?: "es" | "en" | string;
    metaTitle?: ComponentProps<typeof BaseHead>["title"];
  };

const {
  title,
  metaTitle,
  description,
  lang = "es",
  class: className,
  ...props
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="m-0 h-full">
  <BaseHead title={metaTitle ?? title} description={description} />
  <body class={cn("flex min-h-screen flex-col", className)} {...props}>
    <BaseHeader />
    <main class="h-full flex-1">
      <slot> Empty slot </slot>
    </main>
    <BaseFooter />
  </body>
</html>
