---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Astro"
  description="This is Astro"
  class="flex h-screen flex-col items-center justify-center"
>
  <div class="flex h-full flex-1 items-center justify-center">
    <span>Astro Minimal Template</span>
  </div>
</Layout>
