@import "tailwindcss";

@layer base {
  :root {
    --background: #fffaeb;
    --text: #4c453b;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #140f00;
      --text: #bbb1a5;
    }
  }
}

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
}

@layer base {
  body {
    @apply bg-background text-text;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}
