---
import "@/styles/global.css";

import type { ImageMetadata } from "astro";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";

type Props = HTMLAttributes<"body"> & {
  title: string;
  description: string;
  imageSrc?: ImageMetadata;
  imageAlt?: string;
  seoOptions?: Omit<ComponentProps<typeof SEO>, "title" | "description">;
  lang?: "es" | "en" | string;
};

const {
  title,
  description,
  imageSrc = "./cover.png",
  imageAlt,
  lang = "es",
  seoOptions,
  ...props
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: imageSrc,
        },
        image: {
          alt: imageAlt,
        },
      }}
      extend={{
        link: [
          {
            rel: "icon",
            type: "image/svg+xml",
            href: "/favicon.svg",
          },
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
        meta: [
          {
            name: "theme-color",
            content: "#fffaeb",
          },
          {
            name: "theme-color",
            content: "#140f00",
            media: "(prefers-color-scheme: dark)",
          },
          {
            name: "viewport",
            content: "width=device-width,initial-scale=1",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
      {...seoOptions}
    />
    <AstroFont
      config={[
        {
          name: "Noto Sans",
          fetch: false,
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap",
          preload: false,
          display: "swap",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body {...props}>
    <slot />
  </body>
</html>
