name: Release

on:
  push:
    branches: [main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: ./.github/workflows/check.yml
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
